.unit {
  position: relative;
}

.lottie-lg {
  height: 400px;
}

.md-width-prompt {
  width: 580px;
}

// 分割线
.dividing-line {
  border: 1px solid $grey-3;
}

// 文字链接
.text-link {
  cursor: pointer;
}
